.grey .button-submit {
  height: 40px !important;
  width: 100px !important;
  padding: 10px !important;
  border-radius: 5px !important;
  font-size: 14px !important;
}
.react-pricing-table {
  height: 100% !important;
}
.highlighted-header {
  background-color: #1976d2 !important;
}
.Grid-cell {
  height: 500px !important;
  margin: 20px !important;
  max-width: 400px !important;
  min-width: 350px !important;
}
.basic-border {
  height: 500px;
  border: 2px solid #fff;
  backdrop-filter: blur(30px);
}
.basic-border {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-evenly !important;
  border-radius: 10px !important;
}
.basic-border div li {
  font-size: 20px !important;
  font-weight: 400 !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}
.basic-border li {
  font-size: 34px !important;
  font-weight: 600 !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}
.Grid {
  justify-content: space-around !important;
}
@media screen and (max-width: 600px) {
  .Grid-cell {
    min-width: 250px !important;
  }
}
